<!doctype html>
<html lang="<%= lang %>">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/devs.svg" />
    <meta
      name="viewport"
      content="viewport-fit=cover, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title><%= title %></title>
    <meta name="description" content="<%= description %>" />
  </head>
  <body class="bg-background dark:bg-content1 text-foreground rtl:*">
    <div id="root"></div>
    <script type="module" src="/src/app/App.tsx"></script>
  </body>
</html>
