<!doctype html>
<html lang="en" data-theme="dark">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@5" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <script src="https://cdn.jsdelivr.net/npm/@babel/standalone@7.28.6/babel.min.js"></script>
  <script type="importmap">
    {
      "imports": {
        "react": "https://esm.sh/preact@10/compat"
      }
    }
  </script>
  <body>
    <div id="root">…</div>
    <script
      type="text/babel"
      data-type="module"
      data-presets="react"
      data-targets="defaults"
    >
      import React, { render, useState } from 'react'

      const App = () => {
        const [count, setCount] = useState(0)

        return (
          <>
            <div className="hero bg-base-200 min-h-120">
              <div>
                <h1 className="text-5xl font-bold">Title</h1>
                <p className="py-6">Count: {count}</p>
                <button
                  className="btn btn-primary"
                  onClick={() => setCount(count + 1)}
                >
                  Increment
                </button>
              </div>
            </div>
          </>
        )
      }

      render(<App />, root)
    </script>
  </body>
</html>
